// recipes.ejs
<% 
const recipes = [
  {
    id: "concrete",
    name: "Concrete",
    outputWeight: 1.5,
    ingredients: [
      { id: "sand", name: "Sand", amount: 2, weight: 0.8 },
      { id: "gravel", name: "Gravel", amount: 1, weight: 1.2 }
    ]
  },
  {
    id: "lumber",
    name: "Lumber",
    outputWeight: 2.0,
    ingredients: [
      { id: "log", name: "Log", amount: 1, weight: 3.0 }
    ]
  }
  // Add more recipes here
];
%>

<!-- Now you can use these recipes in your template -->
<div class="recipes-container">
  <% recipes.forEach(recipe => { %>
    <div class="recipe-card" data-recipe-id="<%= recipe.id %>">
      <h3><%= recipe.name %></h3>
      <div class="ingredients">
        <% recipe.ingredients.forEach(ingredient => { %>
          <div class="ingredient">
            <span><%= ingredient.name %></span>
            <span><%= ingredient.amount %> x <%= ingredient.weight %>kg</span>
          </div>
        <% }); %>
      </div>
    </div>
  <% }); %>
</div>